/*-MENU ET EN-TETE--*/

.menu {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-between;
  list-style: none;
}
.items {
  flex-direction: row;
  text-decoration: none;
  justify-content: space-between;
  list-style: none;
}
.bouton1 {
  background: linear-gradient(to right, rgb(223, 91, 43), black);
}

/*TRANSFORMEZ VOTRE ENTREPRISE*/

.marché {
}
.parent {
  display: flex;
  justify-content: center;
  color: white;
}
.entreprise {
  background-color: orangered;
  width: 1000px;
  height: 300px;
  border-radius: 5%;
  text-align: center;
  padding-top: 50px;
  z-index: 20;
}
.surligne-m {
  background-color: black;
  color: white;
}
.programme {
  background-color: orange;
  width: 500px;
  height: 60px;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.img-bg {
  position: absolute;
}

/*LA REALITE DU MARCHE*/
.réalité {
}
.laréalité {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
}
.encadre-paragraphe {
  border: 1px solid orangered;
  padding: 20px;
  border-radius: 10px;
}

.img-bg3 {
  z-index: 10;
}
.imglaye {
  position: absolute;
  margin-left: 500px;
}

/*CE QUE CELA SIGNIFIE */
.section-y {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-fond {
  position: absolute;
  margin-top: 70px;
  padding-top: 25px;
}
.img-femme {
  z-index: 20;
  margin-bottom: 100px;
}
.div-paragraphe {
  padding-top: 100px;
}
.encadrement {
  border: 1px solid orangered;
  border-radius: 5%;
  width: 500px;
  height: 50px;
  align-content: center;
  padding-left: 10px;
  margin-top: 1px;
}

/*LA SOLUTION DECLIC*/

.solution-container {
  background-color: orangered;
  display: flex;
  width: 1200px;
  height: 300px;
  border-radius: 6%;
  flex-direction: column;
  gap: 5px;
}

.ledéclic {
  background-color: black;
  color: white;
  width: 500px;
  height: 60px;
  margin-top: 50px;
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.programme-x {
  background-color: orange;
  width: 500px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: white;
}

.image-a-deborder {
  position: absolute; /* Positionnement absolu */
  top: -50px; /* Pour sortir partiellement du conteneur par le haut */
  /* left: 0; */
  width: 90px; /* Ajustez selon vos besoins */
  height: auto;
}
.diagnostic {
  background-color: white;
  border: 1px solid black;
  color: orangered;
  width: 200px;
  height: 50px;
  align-content: center;
  text-align: center;
}


/*NOTRE ACCOMPAGNEMENT*/
.accompagnement {
  display: flex;
  gap: 40px;
  flex-direction: row;
  justify-content: center;
}
.entreprise-container {
  background-color: #ffb6c1;
  gap: 20px;
  border-radius: 5%;
  width: 330px;
  height: 170px;
}
.entreprise-n {
  color: orangered;
}
.équipe-container {
  background-color: lightpink;
  border-radius: 5%;
  width: 330px;
  height: 170px;
}
.équipe {
  color: orangered;
}
.deuxan {
  color: orangered;
}
/*LES CHIFFRES*/
.grand-container {
  background-color: orangered;
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 200px;
}

.nombre-1 {
  background-color: white;
  align-content: center;
  width: 190px;
  height: 100px;
  margin-top: 40px;
  border-radius: 3%;
  padding-left: 20px;
}
.nombre-2 {
  background-color: white;
  align-content: center;
  width: 190px;
  height: 100px;
  margin-top: 40px;
  border-radius: 3%;
  padding-left: 20px;
}
.nombre-3 {
  background-color: white;
  align-content: center;
  width: 190px;
  height: 100px;
  margin-top: 40px;
  border-radius: 3%;
  padding-left: 20px;
}

.surligne1 {
  background-color: orangered;
  color: white;
  width: 40px;
  display: inline-block;
  width: 50px;
  height: 30px;
  align-content: center;
  text-align: center;
}
.surligne2 {
  background-color: orangered;
  color: white;
  display: inline-block;
  width: 50px;
  height: 30px;
  align-content: center;
  text-align: center;
}
.surligne3 {
  background-color: orangered;
  color: white;
  display: inline-block;
  width: 50px;
  height: 30px;
  align-content: center;
  text-align: center;
}

/*RESERVATION DIAGNOSTIC GRATUITE*/

.réservation {
  display: flex;
  gap: 100px;
  width: 1000px;
  height: 300px;
  margin-left: 10px;
  margin-right: auto;
  font-size: 10px;

  margin-top: auto;
  margin-bottom: auto;
}


.marge-bton {
  margin-top: 10px;
}
.offrelimitée {
  color: orangered;
}
.valeur {
  color: orangered;
}
.bouton-a {
  background: linear-gradient(to right, orangered, black);
  width: 200pxp;
  height: 40px;
}
.lien1 {
  color: orangered;
}

/* RENFORCEMENT PERFORMANCE */
.section4 {
  display: flex;
}

.ul2 {
}

.droite {
  margin-left: 500px;
  padding-bottom: 300px;
}

/*TEMOIN*/
.section5 {
  display: flex;
  gap: 20px;
  align-content: center;
  margin-bottom: 100px;
}

.imggauche {
  padding-top: 70px;
  margin-left: auto;
}
.témoin1 {
  background-color: whitesmoke;
  width: 250px;
  height: 170px;
  font-size: smaller;
  padding: 20px;
  border-radius: 5%;
}
.témoin2 {
  background-color: whitesmoke;
  width: 250px;
  height: 170px;
  font-size: smaller;
  padding: 20px;
  border-radius: 3%;
}
.inclusion {
  background-color: orangered;
  padding: 8px;
  border-radius: 5%;
  font-size: smaller;
  height: 125px;
}
.témoin3 {
  background-color: whitesmoke;
  width: 250px;
  height: 170px;
  font-size: smaller;
  padding: 20px;
  border-radius: 5%;
}
.imgdroite {
  padding-top: 70px;
  margin-right: auto;
}
/*CONTACTEZ NOUS*/
.container {
  background-color: orangered;
  display: flex;
  gap: 20px;
}
.section-a {
  color: white;
}
.section-b {
  color: white;
}
.bouton {
  background-color: black;
  color: white;
  width: 176px;
  height: 40px;
  margin-top: 10px;
  margin-left: 1px;
  margin-bottom: 20px;
  align-content: center;
  margin-right: 100px;
}
.réservation {
  display: flex;
  background-color: whitesmoke;
  border-radius: 5%;
}
.ul {
  background-color: whitesmoke;
  list-style: none;
}
.lamarche {
  color: orangered;
}
.surligne-nb {
  color: orangered;
}
.offre {
  color: orangered;
}
.valeur {
  color: orangered;
}
.bouton-c {
  background-color: orangered;
}
.img-bur {
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 10%;
}
.surligne-nb {
  background-color: orangered;
  color: white;
}
.contactez-nous {
  color: white;
  padding-top: 10px;
}
.section-a {
  padding-top: 60px;
  padding-left: 100px;
}
.section-b {
  padding-top: 30px;
  padding-right: 200px;
}
